.MapContainer {
  position: relative;
}

.Button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: 0.5s;
}

.Button:hover {
  transform: scale(1.5);
}

h3 {
  text-align: center;
}

.Popup {
  padding: 0;
  color: white;
}

.mapboxgl-popup-content {
  height: 200px;
  padding: 8;
  background: #262626;
  border-radius: 16px;
}

.mapboxgl-popup {
  z-index: 1001;
  color: #fff;
}

.scrollTop {
  position: fixed;
  width: 100%;
  bottom: 32px;
  justify-content: flex-end;
  height: 20px;
  z-index: 1000;
  cursor: pointer;
  animation: fadeIn 0.3s;
  transition: opacity 0.4s;
  opacity: 0.5;
  color: red;
}

.scrollTop:hover {
  opacity: 1;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}

.border-line {
  width: 100%;
  height: 20px;
  opacity: 0.99;
  background-color: #262626;
  z-index: 1000;
  position: absolute;
  bottom: 0;
  text-align: center;
  box-sizing: border-box;
  color: rgb(126, 76, 76);
}

.directions h1 {
  position: absolute;
  color: rgb(138, 42, 42);
  background-color: #262626;
  top: 25px;
  left: 20%;
  z-index: 999;
  animation: type 2s linear;
  animation-iteration-count: infinite;
  overflow: hidden;
  white-space: nowrap;
}

@keyframes type {
  0% {
    width: 0ch;
  }
  100% {
    width: 13ch;
  }
}
