.MapContainer {
  position: absolute;
  bottom: 0;
}

.Button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

h3 {
  text-align: center;
}

.Popup {
  padding: 0;
  color: white;
  background-color: tomato;
}

.mapboxgl-popup-content {
  height: 200px;
  padding: 8;
  background: salmon;
  border-radius: 16px;
}

.mapboxgl-popup {
}

App {
  text-align: center;
  height: 5000px;
}

.scrollTop {
  position: fixed;
  width: 100%;
  bottom: 20px;
  justify-content: flex-end;
  height: 20px;
  z-index: 1000;
  cursor: pointer;
  animation: fadeIn 0.3s;
  transition: opacity 0.4s;
  opacity: 0.5;
  color: red;
}

.scrollTop:hover {
  opacity: 1;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}
